<% content_for :title do %>
  Foodlog &ndash; <%= I18n.l(DateTime.now, format: :custom_day_month_year_format) %>
<% end %>
  <% @entries.each do |entry| %>
    <div class="columns mt-6 is-centered">
      <%= render entry %>
    </div>
  <% end %>


<div class="columns is-centered mt-6">
  <%= link_to "View all entries", archives_index_path, class:"button is-link is-outlined is-centered"%>
</div>